#.gitignore file for moral weights project 

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Autosaves
.ipynb_checkpoints/

# Outputs 
output_data/
sentience_estimates/ 
welfare_range_estimates/
birch_estimates/
Sent_Adj_WR_Outputs/
Plots/

#System files
.DS_Store
